modules = ["nodejs-20", "python3", "ffmpeg"]

run = "git pull origin main && npm install --prefix backend && node backend/index.js"

[nix]
channel = "stable-23_11"

[ports]
localPort = 3001
externalPort = 80
